@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1018;
}

h2 {
  @apply text-3xl my-8 font-semibold;
}

p {
  @apply text-lg;
}

blockquote {
  @apply italic my-4 p-4 border-l;
}

.planet {
  animation: floatL 100s infinite;
}

.planetR {
  animation: floatR 100s infinite;
}

@keyframes floatL {
  0% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes floatR {
  0% {
    transform: translate(50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
